<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responive">
  </div>
 </div>
 <div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
 </div>
 
 <div class="row">
  <div class="col-xs-12">
    Description  {{recipe.description}}
  </div>
 </div>
 <div class="row">
  <div class="col-xs-12">
  Ingredients:
  <ul>
  <div class="col-xs-12" *ngFor="let recipeEl of recipe.ingredients">
   <li>{{recipeEl.name}},{{recipeEl.quantity}} {{recipeEl.measuredType}}</li>
  </div>
  </ul>
  </div>
 </div>
 <div class="row">
  <div class="col-xs-12">
  Estimated Cost:  {{recipe.cost}} Euro
 
  </div>
 </div>
 
 