<div class="container center-block">

  <div class="row ">
   <div class="col-md-5">
  
     <form (ngSubmit)="createRecipe(f)" #f="ngForm" [formGroup]="recipeForm">
       <div class="row ">
         <div class="form-group col-lg-8">
           <input type="text" formControlName="recipe_name" id="recipe_name" tabindex="1" class="form-control" placeholder="Name of Recipe"  required >
         </div>
       </div>
       <div class="row ">
       <div class="form-group col-lg-8">
         <input type="text" formControlName="recipe_desc" id="recipe_desc" tabindex="2" class="form-control" placeholder="Description" required >
       </div>
       </div>
       <div class="row ">
           <div class="form-group col-lg-16" >
             <label>Ingredients :  </label>
             <div class="row"  formArrayName="ingredient_array">
               <div *ngFor="let item of ingredientArray.controls; let pointIndex=index" [formGroupName]="pointIndex">
                 <div class="row" ></div>
                 <div class="col-lg-4 " >
                     <select class ="form-control select" formControlName="ingredients" id="ingredients"  #select_name   (change) = 'onOptionSelected(select_name.value)' >
                       <option *ngFor="let type of ingredients; " [ngValue]="type">
                           {{type.name  }}     {{type.measuredType  }}
                       </option>
                     </select>
                   </div>
  
                   <div class="col-lg-6"  *ngIf = "selectedValue != undefined ">
                     <div class="col-lg-4" >
                       <input type="text" formControlName="quantity" id="quantity" tabindex="5" class="form-control" placeholder="Quantity" >
                     </div>
                     <div class="col-lg-2" >
                       <button type="button" (click)="deleteIngredient(pointIndex)">Delete</button>
                     </div>
                   </div>
  
               </div>
  
               <button type="button" (click)="addIngredient()">Add </button>
             </div>
           </div>
       </div>
  
  
       <div class="form-group">
         <div class="row">
           <div class="col-sm-6 col-sm-offset-3">
              <button type="submit"  class="btn btn-success" >Create Recipe</button>
           </div>
         </div>
       </div>
       </form>
  
  
   </div>
  </div>
  </div>
  
  